@model VectorHostel.Models.chi_tiet_dat_giuong

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Share/_LayoutPage1.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>chi_tiet_dat_giuong</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ngayden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngayden)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngaydi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaydi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.giuong.maphong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.giuong.maphong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PHIEUDATGIUONG.makh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHIEUDATGIUONG.makh)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
