@model VectorHostel.Models.loaigiuong

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Share/_LayoutPage1.cshtml";
}

<h2>Details</h2>

<div>
    <h4>loaigiuong</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tenlg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenlg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dongia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dongia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.malg }) |
    @Html.ActionLink("Back to List", "Index")
</p>
