<!DOCTYPE html>
<html>
<head>

    <title>Vector Hostel</title>
    <meta charset="utf-8">
    <meta name="view-port" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="~/initial/css/bootstrap.min.css">
    
   

    <script src="~/initial/jquery.min.js"></script>
    <script src="~/initial/js/bootstrap.min.js"></script>
    <script src="~/initial/js/fontawesome-all.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/initial/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="~/css/hostel.css">
    <script src="~/js/hostel.js"></script>

</head>
<body>
    <header>




        <!-- <form class="form-inline navbar-right">
            <span class="text-warning">username:</span><input type="text" name="user">
            <span class="text-warning">password:</span> <input type="password">
        </form> -->



        <div class="container-fluid">
            <div class="banner">

                <form class="form-inline my-2 my-lg-0  d-none d-lg-block" id="form1">
                    <input type="text" id="search-input" placeholder="search" class="form-control mr-sm-2">
                    <button id="btn-search" class="btn btn-outline-success my-2 my-sm-0"><span class="fa fa-search mx-2"></span></button>
                </form>
            </div>
        </div>
        <div class="d-block d-lg-none" id="form2">
            <form class="form-inline my-2 my-lg-0">
                <input type="text" id="search-input" placeholder="search" class="form-control mr-sm-2 ">
                <button id="btn-search" class="btn btn-outline-success my-2 my-sm-0"><span class="fa fa-search mx-2"></span></button>
            </form>
        </div>
    </header>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg sticky-top" id="menu1">
        <div class="container">
            <span role="button" class="btn btn-light navbar-toggler-icon float-left navbar-toggler " data-toggle="collapse" data-target="#collapseMenu" aria-controls="collapseSubMenu" aria-expanded="false" aria-label="Toggle navigation">
            </span>
            <span class="fab fa-blogger navbar-brand text-warning "></span>
            <div class="collapse navbar-collapse" id="collapseMenu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">@Html.ActionLink("Trang chủ","Home","Home",null,new { @class = "nav-link active text-warning" })</li>
                    <li class="nav-item">
                        @Html.ActionLink("Đặt giường","Create","PHIEUDATGIUONGs",null, new { @class = "nav-link  text-white" })

                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Thanh toán", "thanhtoan", "chi_tiet_dat_giuong", null, new { @class = "nav-link  text-white" })

                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Báo cáo", "baocao", "chi_tiet_dat_giuong", null, new { @class = "nav-link  text-white" })

                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle text-white" data-toggle="dropdown">Danh sách</a>
                        <ul class="dropdown-menu bg-dark">
                            <li class="dropdown-item">@Html.ActionLink("Giường","Index","giuongs",null,new { @class="nav-link dropdown-toggle" })</li>
                            <li class="dropdown-item dropdown">
                               @Html.ActionLink("Khách hàng", "Index", "khachhangs", null, new { @class = "nav-link dropdown-toggle" })

                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown"><a href="#" class="nav-link text-white">Liên Hệ</a></li>
                </ul>


                <form class="form-inline navbar-right" id="navbar-right">
                    <a href="www.facebook.com"><span class="fab fa-facebook-f mx-2 text-white">  </span></a>
                    <a href="www.facebook.com"><span class="fab fa-twitter mx-2 text-white">  </span></a>
                    <a href="www.facebook.com"><span class="fab fa-instagram mx-2 text-white"></span></a>
                    <a href="www.facebook.com"><span class="fab fa-tumblr mx-2 text-white"></span></a>
                    <a href="www.facebook.com"><span class="fab fa-youtube mx-2 text-white"></span></a>


                    <span class="fas fa-user text-white mx-2"></span><a href="#"><span class="text-white">Sign Up</span></a>
                    <span class="fas fa-sign-in-alt text-white mx-2"></span><a><span class="text-white" onclick="document.getElementById('id01').style.display='block'">Sign In</span></a>
                </form>

                <div id="id01" class="modal">
                    <form class="modal-content animate" action="QuanLy.html">
                        <div class="imgcontainer">
                            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                            <img src="images/img_avatar2.png" alt="Avatar" class="avatar">
                        </div>

                        <div class="container">
                            <label for="uname"><b>Username</b></label>
                            <input type="text" placeholder="Enter Username" name="uname" required id="user">

                            <label for="psw"><b>Password</b></label>
                            <input type="password" placeholder="Enter Password" name="psw" required id="pwd">

                            <button type="submit" id="btnLogin">Login</button>
                            <label>
                                <input type="checkbox" checked="checked" name="remember"> Remember me
                            </label>
                        </div>

                        <div class="container" style="background-color:#f1f1f1">
                            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                            <span class="psw">Forgot <a href="#">password?</a></span>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </nav>
    <div class="container bg-light">@RenderBody()

    </div>

    <footer class="container">
        &copy 2018 - All right reserved. Designed and developed by <span>Nguyen Duc Thai</span> Phone: 0986604577.
    </footer>
    
</body>
</html>